<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         timeoutForLargeTests="1200"
         verbose="true">
    <testsuites>
        <testsuite name="Common">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <file>UserOrganizationTrait.php</file>
            <file>Organization.php</file>
            <file>Profile.php</file>
            <file>Member.php</file>
            <directory>console</directory>
            <directory>queries</directory>
            <directory>rbac/permissions</directory>
            <directory>rbac/roles</directory>
            <directory>rbac/rules</directory>
        </whitelist>
    </filter>
</phpunit>
